@charset "UTF-8";
* { 
 font-family: 'SpoqaHanSansNeo-Regular';
}

header{	
	margin: 1rem 0;
}	
header .bi {font-size: 25px;
}
header span{
	font-family: 'Rock Salt', cursive;
	font-size: 3rem;
	line-height: 120%;
}
header ul{
	display: flex;
	align-items: flex-start;
	list-style: none;
	font-size: small;
}	