body{
	max-width: 800px;
	margin: auto;
}
h3{
	font-family: 'SpoqaHanSansNeo-Bold';
	margin-top: 4rem;
}
#filter-container {
	margin-top: 1rem;
	display: flex;	
}
.filter {
	margin: 0 0.1rem;
	width: 100%;
}
.order{width: 150%;}
.search{	width: 130%;}
.filter p{
	margin: 0 0 0.2rem 0.5rem;
	color: rgb(82, 82, 82);
	font-size: small;
}
.input-group input{
	margin-bottom: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size:0.875rem;
}
.card {
	width: 100%;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 5%;
}
.card:hover{
	background-color: rgb(210, 223, 228);
}
.card>div{
	padding: 0.7rem;
}
.card p{
	margin:0.3rem;
}
.icon{
	margin: 0 0 0 5rem;
}
.hold{
	position: absolute;
	top: 0.1rem;
	left: -2.5rem;
}
.tape{
	position: relative;
	top: 0.1rem;
	left:0;
}
.hold>img{	width: 6rem;}
.tape>img{	width: 5rem;}
.route-info{
	width: 45%;
	margin: auto;
}
.route-img>img{
	margin: auto;
	height: 6rem;
	width:  8rem;
	object-fit: cover;
}
.gray{	color: gray;}
.bold{
	font-family: 'SpoqaHanSansNeo-Medium';
	font-size: large;
	margin-bottom: 0.2rem;
}
#add-button{
	position: fixed;
	bottom: 5%;
	right: 20%;
	font-size: xxx-large;
	color: gray; 
}
#add-button:hover{
	color: #cacaca;
}