body, #body{
	max-width: 800px;
	margin: auto;
}
h3{
	font-family: 'SpoqaHanSansNeo-Bold';
	margin-top: 4rem;
}
.logoTxt{	
	font-family: 'Rock Salt', cursive;
	font-size: 3rem;
}
#filter-container {
	margin-top: 1rem;
	display: flex;	
}
.filter {
	margin: 0 0.1rem;
	width: 100%;
}
.order{width: 150%;}
.search{	width: 130%;}
.filter p{
	margin: 0 0 0.2rem 0.5rem;
	color: rgb(82, 82, 82);
	font-size: small;
}
.input-group input{
	margin-bottom: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size:0.875rem;
}
.card {
	width: 100%;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 5%;
}
#list-container{
	list-style: none;
}
#list-container .card:hover{
	background-color: rgb(210, 223, 228);
}
.card>div{
	padding: 0.7rem;
}
.card p{
	margin:0.3rem;
}
.icon{
	margin: 0 0 0 5rem;
}
.hold{
	position: absolute;
	top: 0.1rem;
	left: -2.5rem;
}
.tape{
	position: relative;
	top: 0.1rem;
	left:0;
}
.hold>img{	width: 6rem;}
.tape>img{	width: 5rem;}
.route-info{
	width: 45%;
	margin: auto;
}
.route-img>img{
	margin: auto;
	height: 6rem;
	width:  8rem;
	object-fit: cover;
}
.gray{	color: gray;}
.x-small{
	font-size: 0.7rem;
}
.bold{
	font-family: 'SpoqaHanSansNeo-Medium';
	font-size: large;
	margin-bottom: 0.2rem;
}
#add-button{
	position: fixed;
	bottom: 5%;
	right: 20%;
	font-size: xxx-large;
	color: gray; 
}
#add-button:hover{
	color: #cacaca;
}


.score-container{
	width: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#detail-img-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
#review-container{
	padding: 2rem;
}
h6{
	font-size: 1.4rem;
}
.small-txt{
	color: rgb(140, 140, 140);
}
.detail-img{
	width: 11rem;
	height: 11rem;
}
.bi-heart{
	font-size: 1rem;
	margin-top: 0.5rem;
}
.gradient-level {
	/* fallback for old browsers */
	background: #a6c0fe;
  
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, rgba(166, 192, 254, 0.5), rgba(246, 128, 132, 0.5));
  
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, rgba(166, 192, 254, 0.5), rgba(246, 128, 132, 0.5))
  }
  .gradient-fun {
	/* fallback for old browsers */
	background: #f6d365;
  
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5));
  
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5))
  }
  #detail-info, #comment-info{
	list-style: none;
	padding-top: 1rem;
	padding-left: 0;
  }
  li{
	display: flex;
	justify-content: space-between;
  }
  .infoCard{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem; */
  }
  .progress{
	width: 90%;
	overflow: auto;
  }
  .cardBody{
	flex: 1 1 auto;
    padding: 1.5rem 1.5rem 1.5rem 3.5rem;
  }